<div class="col-3 sidebar">
  <div class="sidebar">
  <div class="navbar-brand">
    <%= link_to image_tag("logo.jpg"), root_path %>
  </div>
    <ul class="nav flex-column nav-pills nav-fill mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item btn btn-light">
          <%= link_to 'ホーム', posts_path, class:"nav-item nav-link" %>
        </li>
        <li class="nav-item btn btn-light">
          <%= link_to '投稿フォーム', new_post_path, class:"nav-item nav-link" %>
        </li>
        <li class="nav-item btn btn-light">
          <%= link_to 'プロフィール', user_path(current_user.id), class:"nav-item nav-link" %>
        </li>
        <li class="nav-item btn btn-light">
          <%= link_to "ログアウト", destroy_user_session_path, class:"nav-item nav-link", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item btn btn-light">
          <%= link_to "新規登録", new_user_registration_path, class:"nav-item nav-link" %>
        </li>
        <li class="nav-item btn btn-light">
          <%= link_to "ログイン", new_user_session_path, class:"nav-item nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
