<div class="container">
  <div class="row justify-content-md-center">
    <%= link_to root_path do %>
      <% image_tag"logo.jpg", :size =>'100x100', class: "logo-mini" %>
    <% end %>
  </div>
  <div class="row justify-content-md-center">
    <h4>ログイン</h4>
  </div>
  <div class="row justify-content-md-center">
    <div class="form-body col-8">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group has-icon">
          <span class="fa fa-envelope form-control-icon" aria-hidden="true">　メールアドレス</span>
          <label class="control-label sr-only" for="inputEmail">Email</label>
          <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"メールアドレス"%>
        </div>
        <div class="form-group has-icon">
          <span class="fa fa-lock form-control-icon" aria-hidden="true">　パスワード</span>
          <label class="control-label sr-only" for="inputPassword">Password</label>
          <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
        </div>
        <%= f.submit "ログイン", class:"btn btn-outline-success btn-lg btn-block btn-base-1 mt-20" %>
      <% end %>
    </div>
  </div>
</div>