<div class="container">
  <h4><i class="fas fa-home mb-10"> ホーム</i></h4>
  <%# 投稿フォーム %>
  <div class="row post-form">
    <%= attachment_image_tag current_user, :profile_image, fallback: "no_image.jpg", size:"50x50", class: "profile-image" %>
    <div class="col">
      <%= form_with(model: @post, local: true) do |f| %>
          <%= f.text_area :post, rows: "3", class: "col form-control", placeholder: "お金・友達・筋肉について語ろう" %>
          <%= f.attachment_field :post_image, placeholder: "画像" %>
          <%= f.submit "投稿", class: "btn btn-outline-success col-xs-12 mt-2" %>
      <% end %>
    </div>
  </div>
  <%# ---------- %>
  <%# 固定ボタン------ %>
  <button type="button" class="btn btn-success fixed_btn" data-toggle="modal" data-target="#exampleModal">
    <i class="far fa-paper-plane"></i>
  </button>
  <%# ---------------- %>

  <%# modal-form %>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">新規投稿</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_with(model: @post) do |f| %>
          <div class="modal-body">
            <div class="form-group">
              <%= f.text_area :post, rows: "8", class: "form-control", placeholder: "お金・友達・筋肉について語ろう" %>
            </div>
            <div class="form-group">
              <%= f.attachment_field :post_image, placeholder: "画像" %>
            </div>
          </div>
          <div class="modal-footer">
            <button button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            <%= f.submit "投稿する", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%# ---------- %>
  <!--posts一覧 -->
  <div class="jscroll">
  <%# 非同期投稿 %>
  <div class="posts">
    <%= render 'posts', posts: @posts %>
  </div>
  <%# ----------- %>

    <%= paginate @posts %>
  </div>
  <%# --------------------------- %>
</div>
