<div class="container">
  <h1>Posts#show</h1>
<% @post.comments.each do |comment|%>
  <%# コメントしたユーザー情報 %>
  <div class="comment-profile">
    <%= link_to user_path(comment.user) do %>
      <% attachment_image_tag comment.user, :profile_image, fallback: "no_image.jpg", size: "50x50" %>
    <% end %>
    <%= comment.user.name %>
  </div>
  <div class="comment-text">
  <%# コメント本文 %>
    <td>
        <% comment.comment %>
    </td>
  <%# ------------ %>
  <%# 日時 %>
        <li><%= comment.created_at.strftime('%Y/%m/%d') %></li>
  <%# ----- %>
  <%# いいね--------------------------- %>
        <% if @post.favorited_by?(current_user) %>
        <li>
          <%= link_to post_favorites_path(@post), method: :delete do %>
            <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
            <%= @post.favorites.count %> いいね
          <% end %>
        </li>
        <% else %>
        <li>
          <%= link_to post_favorites_path(@post), method: :post do %>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <%= @post.favorites.count %> いいね
          <% end %>
        </li>
        <% end %>
  <%# ------------------------------------------ %>
  <%# コメント数 %>
        <li>
          <i class="fa fa-comment"> </i>
          <a href="#comments"><%= @post.comments.count %>コメント<a>
        </li>
  <%# ----------- %>
  <%# 投稿削除 %>
        <li>
          <% if @post.user == current_user %>
            <%= link_to "投稿削除", post_path(@post), method: :delete %>
          <% end %>
        </li>
  <%# ----------- %>
  <%# コメント本人であれば削除を表示 %>
    <% if comment.user == current_user %>
      <td>
        <% link_to "コメント削除", post_comment_path(comment.post, comment), class: 'btn-sm btn-danger', method: :delete %>
      </td>
    <% end %>
  <%# -------------------------------- %>
  </div>
<% end%>



<h4>コメント入力</h4>
<%# コメント入力機能----------------- %>
<%= form_with model:[@post, @comment], local: true do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.text_area :comment, class: "form-control", placeholder: "コメントをここに" %>
    </div>
  </div>
  <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>
<%# ---------------------------------- %>
</div>

