<!DOCTYPE html>
<html>
  <head>
    <title>Life</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
  <body>
    <div class="container">
    <div class="bg-image"></div>
    <div class="notice"></div>
      <div class="row justify-content-md-center">
        <%# サイドバー %>
        <div class="col-3 sidebar">
          <div class="sidebar">
            <div class="logo">
              <%= link_to image_tag("logo.jpg", width: "255", class:"logo" ), root_path %>
            </div>
            <div class="btn-group-vertical">
              <% if user_signed_in? %>
                <%= link_to posts_path, class:"btn btn-success nav-item", data: {"turbolinks"=>false} do %>
                  <i class="fas fa-home nav-font"> ホーム</i>
                <% end %>
                <%= link_to user_path(current_user.id), class:"btn btn-success nav-item", data: {"turbolinks"=>false} do %>
                  <i class="fas fa-user nav-font"> プロフィール</i>
                <% end %>
                <%= link_to users_path, class:"btn btn-success nav-item", data: {"turbolinks"=>false} do %>
                  <i class="fas fa-users nav-font"> メンバーズ</i>
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-success nav-item" do %>
                  <i class="fas fa-sign-out-alt nav-font"> ログアウト</i>
                <% end %>
              <% else %>
                <%= link_to new_user_registration_path, class:"btn btn-success nav-item" do %>
                  <i class="fas fa-pen nav-font"> 新規登録</i>
                <% end %>
                <%= link_to new_user_session_path, class:"btn btn-success nav-item" do %>
                  <i class="fas fa-sign-in-alt nav-font"> ログイン</i>
                <% end %>
                <%= link_to users_guest_sign_in_path, class:"btn btn-success nav-item", method: :post do %>
                  <i class="fas fa-sign-in-alt nav-font"> ゲストログイン（閲覧用）</i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <%# --------- %>
        <%# レスポンシブ %>
        <div class="navbar fixed-top justify-content-around">
          <h2>Life</h2>
        </div>
        <div class="navbar  fixed-bottom bg-light  justify-content-around ">
              <% if user_signed_in? %>
                <div class="navbar fixed-top justify-content-around">
                  <%= link_to posts_path, data: {"turbolinks"=>false} do %>
                    <h2>Life</h2>
                  <% end %>
                </div>
              <%# ホーム %>
                <%= link_to posts_path, class:"btn btn-success nav-item", data: {"turbolinks"=>false} do %>
                  <i class="fas fa-home nav-font"> </i>
                <% end %>
                <%# プロフィール %>
                <%= link_to user_path(current_user.id), class:"btn btn-success nav-item", data: {"turbolinks"=>false} do %>
                  <i class="fas fa-user nav-font"> </i>
                <% end %>
                <%# メンバーズ %>
                <%= link_to users_path, class:"btn btn-success nav-item", data: {"turbolinks"=>false} do %>
                  <i class="fas fa-users nav-font"> </i>
                <% end %>
                <%# ログアウト %>
                <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-success nav-item" do %>
                  <i class="fas fa-sign-out-alt nav-font"> </i>
                <% end %>
              <% else %>
                <div class="navbar fixed-top justify-content-around">
                  <%= link_to root_path do%>
                    <h2>Life</h2>
                  <% end %>
                </div>
                <%= link_to new_user_registration_path, class:"btn btn-success nav-item" do %>
                  <i class="fas fa-pen nav-font"> 新規登録</i>
                <% end %>
                <%= link_to new_user_session_path, class:"btn btn-success nav-item" do %>
                  <i class="fas fa-sign-in-alt nav-font"> ログイン</i>
                <% end %>
                <%= link_to users_guest_sign_in_path, class:"btn btn-success nav-item", method: :post do %>
                  <i class="fas fa-sign-in-alt nav-font"> ゲストログイン（閲覧用）</i>
                <% end %>
              <% end %>
        </div>
        <div class="col-md-9 main-content-color">
          <% if flash[:notice] %>
            <p class="alert alert-success"><%= flash[:notice] %></p>
          <% end %>
          <% if flash[:alert] %>
            <p class="alert alert-warning"><%= flash[:alert] %></p>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
